doctype html
html
  head
    meta(charset='utf-8')      
    title jQuery Demo
    link(rel='stylesheet', href='/vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href=isProd ? '/index.min.css' : '/index.css')
    link(rel='shortcut icon', href='/favicon.ico')
  body
    h1 jQuery Demo
  
    h1 Sentence Generator
    button#clear Clear
    h3 Articles
    span.article a
    span.article the
    
    h3 Nouns
    span.noun dog
    span.noun student
    span.noun house
    span.noun california
    
    h3 Verbs
    span.verb run
    span.verb laugh
    span.verb jump
    span.verb study
    
    h3 Adjectives
    span.adjective large
    span.adjective loud
    span.adjective crazy
    
    h3 Sentence
    #sentence
  
    #calcwrapper
      p.calcblock
        input#x(type='text')
        span.calclabel Number 1
      p.calcblock
        input#operator(type='text')
        span.calclabel Operator
        span.calclabel ( + / - / * / / )
      p.calcblock
        input#y(type='text')
        span.calclabel Number 2
      p.calcblock
        button#equal.calclabel =
      p.calcblock
        input#result(type='text')
        span.calclabel result
    
    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src='/vendor/lodash/lodash.min.js')
    script(src=isProd ? '/index.min.js' : '/index.js')
