input {
  width: 50px;
}
.calcblock {
  display: inline-block;
  margin: 0 25px;
  vertical-align: top;
}
.calclabel {
  display: block;
  position: relative;
  bottom: 0px;
  font-size: 13px;
}
#calcwrapper {
  text-align: center;
}
